<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature"	alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>Url: {{destino.nombre}}</h3>
		<p>Servicios</p>
		<ul>
			<li *ngFor = "let s of destino.servicios">
				<span [ngSwitch]="s">
		<!-- 			<i> {{s}}	</i> -->												<!-- escribe lo que hay en s -->
					<i *ngSwitchCase="'desayuno'"style="color: red;"> {{s}}	</i>	<!-- si es = coloquelo en rojo -->
					<i *ngSwitchCase="'pileta'" style="color: blue;"> {{s}}	</i>  <!-- si es = coloquelo en azul -->
					<i *ngSwitchCase="'comida'" style="color: green;"> {{s}}</i>  <!-- si es = coloquelo en verde -->
					<i *ngSwitchDefault> {{s}}</i> 								<!-- coloque s por defecto si no esta en lista-->
				</span>
			</li>
		</ul>
		<a href="#" class="btn-card" (click)="ir()">Ir!</a>	
		<span *ngIf= "destino.isSelected()">
			<span ngNonBindable> -ELEGIDO- </span>
		</span>		
		<a [routerLink]= "['/destino']"> Ver Detalle </a>
	</div>
</div>